<!doctype html>
<html>
<head>
    <title>Socket.IO chat</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font: 13px Helvetica, Arial;
        }

        form {
            background: #2C87F3;
            padding: 3px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        form input {
            border: 0;
            padding: 10px;
            width: 90%;
            margin-right: .5%;
        }

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0px 0px 0px 0px;
        }

        #messages li {
            padding: 10px 10px;
        }

        #messages li:nth-child(odd) {
            background: #EFFAFD;
        }

        .header {
            padding: 15px 15px;
            background-color: #2C87F3;
            color: white;
        }

    </style>
</head>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<body>
<div class="header col-md-12" style="font-size: 18px">
    <label>Welcome <span style="text-transform: uppercase;"><%= user.username %></span></label>
    <a class="pull-right" style="cursor: pointer;color: white" href="/logout">Sign out</a>
</div>
<div>
    <div class="col-md-1">
        <ul style="padding: 5px 0 0 20px" id="userContainer"></ul>
        <select id="drdOnlineUsers" class="form-control">
            <option value="all">All</option>
        </select>
    </div>
    <ul class="col-md-11" id="messages" style="padding-bottom: 40px"></ul>
</div>
<form action="">
    <div class="input-group">
        <input id="m" autocomplete="off" type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" style="background-color: #2C87F3;border-color: #2C87F3" type="submit"><i
                    style="color: white;font-size: 18px" class="fa fa-paper-plane"></i>
        </button>
      </span>
    </div>
</form>
<script>

    var allUsers = JSON.parse('<%- JSON.stringify(allUsers) %>');
    var onlineUsers = JSON.parse('<%- JSON.stringify(onlineUsers) %>');
    var loginUser = JSON.parse('<%- JSON.stringify(user) %>');

    var url = window.location.origin;

    var socket = io(url, {query: "user_id=" + loginUser.id});
    var ownColor = getRandomColor();
    var otherColor = getRandomColor();


    renderOnlineUser();

    function makeId() {
        var number = (Math.random() + ' ').substring(2, 10) + (Math.random() + ' ').substring(2, 10);
        return number;
    }

    $('form').submit(function () {
        var msg = $('#m').val();
        var receiverId = $('#drdOnlineUsers').val();
        if (receiverId == 'all') {
            socket.emit('group_message', msg);
        }
        else {
            var today = new Date();
            socket.emit('user_message', {
                id: makeId(),
                reciever_id: receiverId,
                message: msg,
                sender_id: loginUser.id,
                msg_type: 0,
                sent_on: Date.now(),
                create_on: Date.now(),
                status: 0,
                item_id: 26
            }, function (data) {
                console.log(data)
            });
        }

        $('#messages').append('<li style="color:' + ownColor + '">' + $('#m').val() + '</li>');
        $('#m').val('');
        return false;
    });

    socket.on('group_message', function (msg) {
        $('#messages').append('<li style="color:' + otherColor + '">' + msg + '</li>');
    })

    socket.on('user_message', function (msg) {
        $('#messages').append('<li style="color:' + otherColor + '">' + JSON.parse(msg).message + '</li>');
    })

    socket.on('all_users', function (data) {
        allUsers = JSON.parse(data);
    })

    socket.on('status_update', function (data) {
        onlineUsers = JSON.parse(data);
        renderOnlineUser();
    })

    function getRandomColor() {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    function renderOnlineUser() {
        $('#userContainer').html("");
        $('#drdOnlineUsers').html("");
        $('#drdOnlineUsers').append($('<option>', {
            value: 'all',
            text: 'Group'
        }));
        for (var i = 0; i < allUsers.length; i++) {
            var obj = allUsers[i];
            if (obj.id != loginUser.id) {
                if (onlineUsers[obj.id]) {
                    $('#userContainer').append('<li style="color:green">' + obj.username + '</li>');
                    $('#drdOnlineUsers').append($('<option>', {
                        value: obj.id,
                        text: obj.username
                    }));
                }
                else {
                    $('#userContainer').append('<li style="color:red">' + obj.username + '</li>');
                    $('#drdOnlineUsers').append($('<option>', {
                        value: obj.id,
                        text: obj.username
                    }));
                }
            }
        }
    }
</script>
</body>
</html>