<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8"/>
    <title>Vrischik Chat | Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="../assets/css/simple-line-icons.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/bootstrap-switch.min.css" rel="stylesheet"
          type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="../assets/css/select2.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/select2-bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="../assets/css/components-rounded.min.css" rel="stylesheet" id="style_components"
          type="text/css"/>
    <link href="../assets/css/plugins.min.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="../assets/css/login-2.min.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link href="../assets/css/custom.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120243724-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-120243724-2');
    </script>

</head>
<!-- END HEAD -->

<body class="login">
<!-- BEGIN LOGO -->
<div class="logo">
    <h3 style="color: #ffffff;font-weight: 500">VRISCHIK CHAT</h3>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->

    <form class="login-form" action="/login" method="post" style="padding: 25px; background-color: black">
        <div class="form-title">
            <span class="form-title">Welcome.</span>
            <span class="form-subtitle">Please login.</span>
        </div>

        <%if (typeof errMsg != 'undefined') { %>
        <div class="alert alert-danger">
            <button class="close" data-close="alert"></button>
            <span> <%= errMsg %> </span>
        </div>
        <% } %>

        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span> Enter any username and password. </span>
        </div>

        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Email</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text"
                   autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" placeholder="Username"
                   name="username"/></div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off"
                   placeholder="Password" name="password"/></div>
        <div class="form-actions">
            <button type="submit" class="btn btn-block uppercase" style="color: white">Login</button>
        </div>
        <div class="form-actions">
            <div class="pull-left">
                <label class="rememberme mt-checkbox mt-checkbox-outline">
                    <input type="checkbox" name="remember" value="1"/> Remember me
                    <span></span>
                </label>
            </div>
            <!--<div class="pull-right forget-password-block">-->
                <!--<a href="{{ url('/password/reset') }}" id="forget-password" class="forget-password">Forgot Password?</a>-->
            <!--</div>-->
        </div>
        <div class="create-account">
            <p>
                <a href="/registration" class="btn-primary btn" id="register-btn">Create an account</a>
            </p>
        </div>
    </form>
</div>
<div class="copyright"> Copyright © 2020 <strong><a target="_blank" href="http://www.vrischik.com">Vrischik Technologies</a>.</strong>
    All rights reserved.
</div>
<!-- END LOGIN -->
<!--[if lt IE 9]>
<script src="../assets/js/respond.min.js"></script>
<script src="../assets/js/excanvas.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<!--<script src="../assets/js/jquery.min.js" type="text/javascript"></script>-->
<script type="text/javascript" src="../assets/js/jquery-2.2.4.min.js"></script>
<script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/js.cookie.min.js" type="text/javascript"></script>
<script src="../assets/js/jquery.slimscroll.min.js"
        type="text/javascript"></script>
<script src="../assets/js/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../assets/js/bootstrap-switch.min.js"
        type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="../assets/js/jquery.validate.min.js"
        type="text/javascript"></script>
<script src="../assets/js/additional-methods.min.js"
        type="text/javascript"></script>
<script src="../assets/js/select2.full.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="../assets/js/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../assets/js/login.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<!-- END THEME LAYOUT SCRIPTS -->
</body>

</html>