<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link href="../assets/css/custom.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita%E2%80%8Clic,400italic,500,500italic,700,700italic,900italic,900"/>
    <link href="../assets/css/lightgallery.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/lg-transitions.css" rel="stylesheet" type="text/css"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120243724-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-120243724-2');
    </script>

</head>
<body style="background-image: url('css/img/background.png')">
<!--<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>-->
<script type="text/javascript" src="../assets/js/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script type="text/javascript" src="../assets/js/moment.min.js"></script>
<!--<script type="text/javascript" src="js/jquery.fileupload.js"></script>-->
<script type="text/javascript" src="../assets/js/jquery.fancybox.js"></script>
<script src="../assets/js/lightgallery.js" type="text/javascript"></script>
<script src="../assets/js/lg-fullscreen.js" type="text/javascript"></script>
<script src="../assets/js/lg-thumbnail.js" type="text/javascript"></script>
<script src="../assets/js/ion.sound.min.js" type="text/javascript"></script>
<div class="wrapper1">
    <div class="container-chat card">
        <div class="header col-md-12" style="font-size: 18px">
            <label>Welcome <span style="text-transform: uppercase;"><%= user.username %></span></label>
            <a class="pull-right" style="cursor: pointer;color: white" href="/logout">Logout</a>
        </div>
        <div class="left">
            <div class="top">
            <input type="text" id="myInput" placeholder="Search" onkeyup="myFunction()">
            </div>
            <ul class="people scroll-left" id="list">
                <% for(var i = 0; i < allUsers.length; i++) { %>
                <% if (allUsers[i].id != user.id) { %>
                <li class="person" data-chat="person1" id="req<%= allUsers[i].id %>"
                    onclick="onSelectRequest('<%= allUsers[i].id %>')">
                    <div class="status">
                        <i class="fa fa-circle offline status<%= allUsers[i].id %>"></i>
                    </div>
                    <% if(allUsers[i].gender == 0){ %>
                    <img src="css/img/avtar.png" alt=""/>
                    <% } else { %>
                    <img src="css/img/female_avtar.png" alt=""/>
                    <% } %>
                    <span class="name"><%= allUsers[i].name %></span>
                    <span class="preview"><%= allUsers[i].username %> : <%= allUsers[i].email %></span>
                    <span class="time" style="display: none" data-count="0" id="count<%= allUsers[i].id %>">0</span>
                </li>
                <% } %>
                <% } %>
            </ul>
        </div>
        <div class="right">
            <div class="top" id="titleBar" style="display: none"><span class="name"></span></div>
            <div class="welcome">Welcome</div>
            <div class="chat scroll-right" data-chat="person1">
            </div>
            <div class="progress" style="display: none;height: 4px">
                <div class="progress-bar" role="progressbar"></div>
            </div>
            <input type="file" id="upload" name="uploads[]" multiple="multiple"
                   style="visibility: hidden; width: 1px; height: 1px">
            <div class="write" style="display: none">
                <a href="javascript:;" onclick="onFileUpload()" class="write-link attach"></a>
                <input type="text" id="message">
                <a href="javascript:;" class="write-link send pull-right" onclick="sendMessage()"></a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript">
    // Sender ID
    var ADMIN_ID = '<%- user.id %>';
    // Message Type
    var TEXT = 0;
    var IMAGE = 1;
    var VOICE = 2;
    // Message Ack Status
    var RECEIVED_BY_SERVER = 1;
    var RECEIVED_BY_RECEIVER = 2;
    var READ_BY_RECEIVER = 3;

    var selUserId = '<%- allUsers[0].id %>';
    var isNewUser = <%- newUser %>;

    //    var selReqId = '{{$selRequest}}';

    //        var url = "http://192.168.0.112:8080";
    //        var url = "http://52.66.90.75:8080";
    var url = window.location.origin;
    var hostName = location.hostname;
    handleLeftClickJavascript();
    var socket = io(url, {query: "user_id=" + ADMIN_ID});
    socket.on('connect', function () {
        console.log('User connected');
    });

    socket.on('disconnect', function () {
        console.log('User disconnected');
    });

    socket.on('new_reg_user_arrive', function (user) {
        var html = '<li class="person" data-chat="person1" id="req' + user.id + '"' +
                'onclick="onSelectRequest(&#39'+user.id.toString() + '&#39)" >' +
                '<div class="status"><i class="fa fa-circle online status' + user.id + '"></i></div>';
        if (user.gender == 0)
            html = html + '<img src="css/img/avtar.png" alt=""/>';
        else
            html = html + '<img src="css/img/female_avtar.png" alt=""/>';

        html = html + '<span class="name">' + user.name + '</span>' +
                '<span class="preview">' + user.username + ' : ' + user.email + '</span>' +
                '<span class="time" style="display: none" data-count="0" id="count' + user.id + '">0</span></li>';

        $('#list').append(html);
        $("#req" + user.id).prependTo("#list");
        handleLeftClickJavascript();
    });

    if (isNewUser == true) {
        socket.emit('new_reg_user_arrive', {
            reg_user_id: ADMIN_ID
        });
    }

    socket.on('status_update', function (data) {
        var statusData = JSON.parse(data);
        $("#req" + statusData.userId).prependTo("#list");
        if (statusData.status == 0) {
            $('.status' + statusData.userId).removeClass('online').addClass('offline');
        } else if (statusData.status == 1) {
            $('.status' + statusData.userId).removeClass('offline').addClass('online');
        }
    });

    socket.on('msg_ack', function (data) {
        var msgData = JSON.parse(data);
        var msgIds = msgData.msg_ids;
        for (var i = 0; i < msgIds.length; i++) {
            if (msgData.ack == RECEIVED_BY_RECEIVER) {
                $('#statusIcon' + msgIds[i]).html('<i class="fa fa-check fa-stack-1x"></i><i class="fa fa-check fa-inverse fa-stack-1x" style="margin-left:-3px;"></i><i class="fa fa-check  fa-stack-1x" style="margin-left:-4px;"></i></i>').addClass('green-color');
            } else if (msgData.ack == READ_BY_RECEIVER) {
                $('#statusIcon' + msgIds[i]).html('<i class="fa fa-check fa-stack-1x"></i><i class="fa fa-check fa-inverse fa-stack-1x" style="margin-left:-3px;"></i><i class="fa fa-check  fa-stack-1x" style="margin-left:-4px;"></i>').addClass('blue-color');
            }
            ion.sound.play("water_droplet");
        }
    });

    socket.on('user_message', function (data) {
        console.log(data);
        var msgData = JSON.parse(data);
        if (selUserId && selUserId == msgData.sender_id) {

            if (msgData.msg_type == TEXT) {
                $('.chat').append('<div class="bubble you"><div class="msg">' + msgData.message + '</div><div class="msg-date">' + dateFormat(msgData.sent_on) + '</div></div>');
            }else {
                var docHtml = addFileToPreviewContainer(JSON.parse(msgData.message));
                var msgHtml = '<div class="bubble you"><div class="lightgallery">'+docHtml[0].outerHTML+'</div><div class="msg-date">' + dateFormat(msgData.sent_on) + '</div></div>';
                $('.chat').append(msgHtml);
                $('.lightgallery').lightGallery({
                    iframeMaxWidth: '80%'
                });
            }

            updateScrollToTop();
        }
        else {
            var countCmp = $('#count' + msgData.sender_id);
            countCmp.show();
            var newCount = parseInt(countCmp.attr('data-count')) + 1;
            countCmp.attr("data-count", newCount);
            countCmp.html(newCount);
            $("#req" + msgData.sender_id).prependTo("#list");
        }

        socket.emit('msg_ack', {
            ack: READ_BY_RECEIVER,
            msg_ids: [msgData.id]
        }, function (data) {
            console.log(data);
        });

        ion.sound.play("button_tiny");
    });

    retrieveOnlineUsers();

    function onSelectRequest(reqData) {
        $('.write').show();
        $('#titleBar').show();
        $('.welcome').hide();

        selUserId = reqData;

        // Reset un-read msg count to zero
        var countCmp = $('#count' + selUserId);
        countCmp.hide();
        countCmp.attr("data-count", "0");
        countCmp.html("0");

        retrieveAllMessages(selUserId);
    }

    function updateScrollToTop() {
        var chatContainer = $(".chat");
        chatContainer.scrollTop(chatContainer[0].scrollHeight);
    }

    function retrieveAllMessages(id) {
        $.ajax({
            url: url + '/retrieveAllMessage/?sender_id=' + id + '&reciever_id=' + ADMIN_ID,
            type: "GET",
            success: function (response) {
                $('.chat').html('');
                var msgIds = [];
                var msgs = response.data;
                for (var i = 0; i < msgs.length; i++) {
                    var msg = msgs[i];
                    var msgType = msg.msg_type;
                    if (msg.sender_id == ADMIN_ID) {
                        if (msgType == TEXT) {
                            $('.chat').append('<div class="bubble me"><div class="msg">' + msg.message + '</div><div class="msg-date">' + dateFormat(msg.sent_on) + '<div id="statusIcon' + msg.id + '" class="statusIcon fa-stack fa-lg text-success"></div></div></div>');
                        }else{
                            var docHtml = addFileToPreviewContainer(JSON.parse(msg.message));
                            var msgHtml = '<div class="bubble me"><div class="lightgallery">'+docHtml[0].outerHTML+'</div><div class="msg-date">' + dateFormat(msg.sent_on) + '<div id="statusIcon' + msg.id + '" class="statusIcon fa-stack fa-lg text-success"></div></div></div>';
                            $('.chat').append(msgHtml);
                        }

                        if (msg.status == RECEIVED_BY_SERVER) {
                            $('#statusIcon' + msg.id).html('<i class="fa fa-check"></i>');
                        }
                        else if (msg.status == RECEIVED_BY_RECEIVER) {
                            $('#statusIcon' + msg.id).html('<i class="fa fa-check fa-stack-1x"></i><i class="fa fa-check fa-inverse fa-stack-1x" style="margin-left:-3px;"></i><i class="fa fa-check  fa-stack-1x" style="margin-left:-4px;"></i>').addClass('green-color');
                        }
                        else if (msg.status == READ_BY_RECEIVER) {
                            $('#statusIcon' + msg.id).html('<i class="fa fa-check fa-stack-1x"></i><i class="fa fa-check fa-inverse fa-stack-1x" style="margin-left:-3px;"></i><i class="fa fa-check  fa-stack-1x" style="margin-left:-4px;"></i>').addClass('blue-color');
                        }

                    } else if (msgs[i].reciever_id == ADMIN_ID) {

                        if (msgType == TEXT) {
                            $('.chat').append('<div class="bubble you"><div class="msg">' + msg.message + '</div><div style="padding-top:8px;font-size:12px;color: #fff;">' + dateFormat(msg.sent_on) + '</div></div>');
                        } else {
                            var docHtml = addFileToPreviewContainer(JSON.parse(msg.message));
                            var msgHtml = '<div class="bubble you"><div class="lightgallery">'+docHtml[0].outerHTML+'</div><div style="padding-top:8px;font-size:12px;color: #fff;">' + dateFormat(msg.sent_on) + '</div></div>';
                            $('.chat').append(msgHtml);
                        }

                        if (msg.status != READ_BY_RECEIVER) {
                            msgIds.push(msg.id);
                        }
                    }
                }

                $('.lightgallery').lightGallery({
                    iframeMaxWidth: '80%'
                });

                if (msgIds.length > 0) {
                    socket.emit('msg_ack', {
                        ack: READ_BY_RECEIVER,
                        msg_ids: msgIds
                    }, function (data) {
                        console.log(data);
                    });
                }

                var interval = setInterval(function () {
                    updateScrollToTop();
                    clearInterval(interval)
                }, 150);

                $('.fancy').attr('rel', 'gallery').fancybox();
            },
            error: function (response) {
                alert('something went wrong');
            }
        });
    }

    function retrieveOnlineUsers() {
        $.ajax({
            url: url + '/onlineUsers',
            type: "GET",
            success: function (response) {
                var userIds = response.data;
                console.log(userIds);
                for (var i = 0; i < userIds.length; i++) {
                    $('.status' + userIds[i]).removeClass('offline').addClass('online');
                }
            },
            error: function (response) {
                alert('something went wrong');
            }
        });
    }

    $('#message').keypress(function (e) {
        // Manage Enter Key Down
        if (e.which == 13) {
            sendMessage();
        }
    });

    function sendMessage() {
        var msg = $('#message').val();
        if (msg == '')
            return;
        commonMessageSend(msg, TEXT);
    }

    function commonMessageSend(msg, msg_type) {
        var msgId = makeId();
        var timeStamp = Date.now();
        var msgHtml;

        if (msg_type == TEXT) {
            msgHtml = '<div class="bubble me"><div class="msg">' + msg + '</div><div class="msg-date">' + dateFormat(timeStamp) + '<div id="statusIcon' + msgId + '" class="statusIcon fa-stack fa-lg text-success"><i class="fa fa-clock-o"></i></div></div></div>';
            $('.chat').append(msgHtml);
        } else {
            var docHtml = addFileToPreviewContainer(msg);
            msgHtml = '<div class="bubble me"><div class="lightgallery">'+docHtml[0].outerHTML+'</div><div class="msg-date">' + dateFormat(timeStamp) + '<div id="statusIcon' + msgId + '" class="statusIcon fa-stack fa-lg text-success"><i class="fa fa-clock-o"></i></div></div></div>';
            $('.chat').append(msgHtml);
            $('.lightgallery').lightGallery({
                iframeMaxWidth: '80%'
            });
            msg = JSON.stringify({
                name:msg.name,
                type:msg.type
            });

        }

//        if (msg_type == TEXT) {
//            msgHtml = '<div class="bubble me"><div class="msg">' + msg + '</div><div class="msg-date">' + dateFormat(timeStamp) + '<div id="statusIcon' + msgId + '" class="statusIcon fa-stack fa-lg text-success"><i class="fa fa-clock-o"></i></div></div></div>';
//        } else if (msg_type == IMAGE) {
//            msgHtml = '<div class="bubble me"><div><a href="' + msg + '" class="fancy" rel="group-001"><img class="img-responsive" style="margin: auto" width="200px" src="' + msg + '"/></a></div><div class="msg-date">' + dateFormat(timeStamp) + '<div id="statusIcon' + msgId + '" class="statusIcon fa-stack fa-lg text-success"><i class="fa fa-clock-o"></i></div></div></div>';
//        } else if (msg_type == VOICE) {
//            msgHtml = '<div class="bubble me"><div><a target="_blank" href="' + msg + '"><audio controls><source src="' + msg + '">Your browser does not support the audio element.</audio></a></div><div class="msg-date">' + dateFormat(timeStamp) + '<div id="statusIcon' + msgId + '" class="statusIcon fa-stack fa-lg text-success"><i class="fa fa-clock-o"></i></div></div></div>';
//        }

        updateScrollToTop();
        $('#message').val('');

        socket.emit('user_message', {
            id: msgId,
            reciever_id: selUserId,
            message: msg,
            sender_id: ADMIN_ID,
            msg_type: msg_type,
            sent_on: timeStamp,
            create_on: timeStamp,
            status: 0 // Zero means - Not received by server
        }, function (data) {
            console.log(data);
            var msgId = JSON.parse(data).msg_ids[0];
            $('#statusIcon' + msgId).html('<i class="fa fa-check"></i>');
        });
    }

    function dateFormat(timeStamp) {
        var ts = moment(timeStamp, "x").valueOf();
        var m = moment(ts);
        return m.format('MMM Do YYYY, h:mm:ss a');
    }

    function makeId() {
        return (Math.random() + ' ').substring(2, 10) + (Math.random() + ' ').substring(2, 10);
    }

    function onFileUpload() {
        $("#upload").click();
    }

    $('#req' + selUserId).click();

    //    if (selReqId != "") {
    //        $('#req' + selReqId).click();
    //    }

    //    $(function () {
    //        $('#upload').fileupload({
    //            dataType: 'json',
    //            done: function (e, data) {
    //                var res = data.result.data;
    //                var msg = res.image.data_url;
    //                var msgType = res.type;
    //                commonMessageSend(msg, msgType);
    //            }
    //        });
    //    });

    $('#upload').on('change', function(){

        var files = $(this).get(0).files;

        if (files.length > 0){
            // create a FormData object which will be sent as the data payload in the
            // AJAX request
            var formData = new FormData();

            // loop through all the selected files and add them to the formData object
            for (var i = 0; i < files.length; i++) {
                var file = files[i];

                // add the files to formData object for the data payload
                formData.append('uploads[]', file, file.name);
            }
            $('.progress').show();
            $.ajax({
                url: '/upload',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response){
                    $('.progress-bar').width(0 + '%')
                    $('.progress').hide();

                    var uploadDir = JSON.parse(response).uploadDir;
                    var data = JSON.parse(response).files;
                    if(Array.isArray(data)){
                        for (var i = 0; i < data.length; i++) {
                            var file = data[i];
                            commonMessageSend(file, IMAGE);
                        }
                    }
                    else {
                        commonMessageSend(data, IMAGE);
//                        commonMessageSend(url+uploadDir+'/'+data.name, IMAGE);
                    }
                },
                xhr: function() {
                    // create an XMLHttpRequest
                    var xhr = new XMLHttpRequest();

                    // listen to the 'progress' event
                    xhr.upload.addEventListener('progress', function(evt) {
                        if (evt.lengthComputable) {
                            // calculate the percentage of upload completed
                            var percentComplete = evt.loaded / evt.total;
                            percentComplete = parseInt(percentComplete * 100);

                            // update the Bootstrap progress bar with the new percentage
                            $('.progress-bar').text(percentComplete + '%');
                            $('.progress-bar').width(percentComplete + '%');

                            // once the upload reaches 100%, set the progress bar text to done
                            if (percentComplete === 100) {

                            }

                        }

                    }, false);

                    return xhr;
                }
            });

        }
    });

    function handleLeftClickJavascript() {
        $('.chat[data-chat=person2]').addClass('active-chat');
        $('.person[data-chat=person2]').addClass('active');

        $('.left .person').click(function () {
            if ($(this).hasClass('.active')) {
                return false;
            } else {
                var findChat = $(this).attr('data-chat');
                var personName = $(this).find('.name').text();
                $('.right .top .name').html(personName);
                $('.chat').removeClass('active-chat');
                $('.left .person').removeClass('active');
                $(this).addClass('active');
                $('.chat[data-chat = ' + findChat + ']').addClass('active-chat');
            }
        });
    }

    function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("list");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByClassName("name")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }


    var templateText = '<div data-iframe="true" class="a-item" data-responsive="img/1-375.jpg 375, img/1-480.jpg 480, img/1.jpg 800" data-src="" data-sub-html=""' +
        '<a href="">' +
        '<img alt="" style="width: 200px;cursor: pointer" class="img-responsive a-thumb" src="">' +
        '</a>' +
        '</div>';

    function addFileToPreviewContainer(data) {
        var templateObj = $($.parseHTML(templateText));
        var dataPath = url+'/uploads/'+data.name;
        var dataSrc;
        if (data.type == 'image/jpeg') {
            templateObj.attr('data-iframe', false);
            templateObj.attr('data-src', dataPath);
            templateObj.find('.a-thumb').attr('src', dataPath);
        } else if (data.type == 'application/pdf') {
            templateObj.attr('data-src', dataPath);
        } else if (data.type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document') {
            dataSrc = 'https://view.officeapps.live.com/op/view.aspx?src=' + hostName+'/uploads/'+data.name;
            templateObj.attr('data-src', dataSrc);
        } else if (data.type == 'text/plain') {
            templateObj.attr('data-src', dataPath);
        } else if (data.type == 'text/csv') {
            dataSrc = 'http://datapipes.okfnlabs.org/csv/html/?url=' + dataPath;
            templateObj.attr('data-src', dataSrc);
        } else if (data.type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' || data.type == 'application/vnd.ms-excel') {
            dataSrc = 'https://view.officeapps.live.com/op/view.aspx?src=' + hostName+'/uploads/'+data.name;
            templateObj.attr('data-src', dataSrc);
        } else {
            templateObj.attr('data-src', dataPath);
            templateObj.find('.a-thumb').attr('src', dataPath);
        }

        templateObj.attr('data-sub-html', '<h4>' + data.name + '</h4>');
        templateObj.find('.a-thumb').attr('alt', data.name);

        return templateObj;
    }


    ion.sound({
        sounds: [
            {
                name: "button_tiny"
            },
            {
                name: "water_droplet"
            }
        ],
        volume: 0.5,
        path: "sounds/",
        preload: true,
        multiplay: true
    });


</script>
</body>
</html>