/* here you can put your own css to customize and override the theme */

.btn-nm {
    background-color: #5995BB;
    border: 1px solid #eee;
    color: #eee;
}

.login .content .form-title {
    font-size: 20px;
    font-weight: 300 !important;
    margin-bottom: 25px;
}

.content-grid {
    margin-top: 20px;
}

.profile-primary {
    margin: 0 -15px;
}

.profile-container {
    padding-top: 20px;
}

.profile-section {
    margin: 30px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #e7ecf1;
}

.profile-header-margin {
    margin-top: -30px;
}

.empty-lbl {
    color: white;
}

.add-cls {
    font-size: 13px;
}

.email-phone-custom {
    margin-top: 10px;
}

.padding-company-profile {
    padding-top: 0 !important;
}

.bnt-action-cls {
    padding: 15px;
}

.bank-dlt-cls {
    padding-bottom: 20px;
}

.favorite-cls {
    margin-right: 5px;
}

.intl-tel-input {
    margin: 10px 0 0 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    display: block !important;
}

.intl-tel-input input {
    border: 1px solid #CCC;
    font-family: inherit;
    font-size: 100%;
    color: inherit;
}

.recruiter-phone {
    margin: 0 0 !important;
}

.full-width {
    width: 100% !important;
}

.bootstrap-tagsinput .tag {
    display: inline-block;
    margin-top: 2px;
    padding: 4px 6px;
}

.bootstrap-tagsinput {
    width: 100% !important;
}

.detail{
    margin: 0 0 15px 0!important;
}

.select2-selection--single {
    height: 34px !important;
}

.details-header{
    font-weight: 600!important;
}

.document-tree-css{
    border-right: 1px solid #eee;
}

.jstree-default .jstree-disabled>.jstree-icon {
    -webkit-filter: grayscale(0%)!important;
}
