
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

.container-chat {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}


/* Style.css */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper1 {
    position: relative;
    left: 50%;
    height: 835px;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background-size: cover;
    background-repeat: none;
}

.container-chat {
    position: relative;
    top: 50%;
    left: 50%;
    width: 96%;
    height: 91%;
    background-color: #fff;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.container-chat .left {
    float: left;
    width: 40%;
    height: 94%;
    border-top: 1px solid #e2810e;
    background-color: #fff;
}
.container-chat .left .top {
    position: relative;
    width: 100%;
    height: 47px;
    padding: 4px;
    background-color: #f7f5f3;
}
.container-chat .left .top:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 98%;
    height: 1px;
    content: '';
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.container-chat .left input {
    float: left;
    width: 100%;
    height: 38px;
    padding: 0 15px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.container-chat .left input:focus {
    outline: none;
}
.container-chat .left a.search {
    display: block;
    float: left;
    width: 42px;
    height: 42px;
    margin-left: 10px;
    border: 1px solid #e6e6e6;
    background-color: #00b0ff;
    background-image: url("http://s11.postimg.org/dpuahewmn/name_type.png");
    background-repeat: no-repeat;
    background-position: top 12px left 14px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.container-chat .left .people {
    margin-left: -1px;
    border-left: 1px solid #e6e6e6;
    width: -moz-calc(100% + 2px);
    width: -webkit-calc(100% + 2px);
    width: -o-calc(100% + 2px);
    width: calc(100% + 2px);
}
.container-chat .left .people .person {
    position: relative;
    width: 100%;
    padding: 12px 5% 16px;
    cursor: pointer;
    background-color: #fff;
}
.container-chat .left .people .person:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 90%;
    height: 1px;
    content: '';
    background-color: #e6e6e6;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.container-chat .left .people .person img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.container-chat .left .people .person .name {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #262626;
    line-height: 22px;
}
.container-chat .left .people .person .time {
    font-size: 14px;
    position: absolute;
    top: 16px;
    right: 5%;
    border-radius: 25px;
    padding: 5px;
    min-width: 23px;
    text-align: center;
    color: #fff;
    background-color: #09d261;
}
.container-chat .left .people .person .preview {
    font-size: 14px;
    display: flex;
    overflow: hidden !important;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #999;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
}
.container-chat .left .people .person.active{
    margin-top: -1px;
    margin-left: -1px;
    padding-top: 13px;
    border: 0;
    background-color: #f28c12;
    width: -moz-calc(100% + 2px);
    width: -webkit-calc(100% + 2px);
    width: -o-calc(100% + 2px);
    width: calc(100% + 2px);
    padding-left: -moz-calc(5% + 1px);
    padding-left: -webkit-calc(5% + 1px);
    padding-left: -o-calc(5% + 1px);
    padding-left: calc(5% + 1px);
}
.container-chat .left .people .person:hover {
    margin-top: -1px;
    margin-left: -1px;
    padding-top: 13px;
    border: 0;
    background-color: #de7f0c;
    width: -moz-calc(100% + 2px);
    width: -webkit-calc(100% + 2px);
    width: -o-calc(100% + 2px);
    width: calc(100% + 2px);
    padding-left: -moz-calc(5% + 1px);
    padding-left: -webkit-calc(5% + 1px);
    padding-left: -o-calc(5% + 1px);
    padding-left: calc(5% + 1px);
}
.container-chat .left .people .person.active span, .container-chat .left .people .person:hover span {
    color: #fff;
    background: transparent;
}
.container-chat .left .people .person.active:after, .container-chat .left .people .person:hover:after {
    display: none;
}
/*.card {*/
    /*box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/
/*}*/
.card
{
    position: relative;
}
.card:before, .card:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 35px 20px #777;
    -moz-box-shadow: 0 35px 20px #777;
    box-shadow: 0 35px 20px #777;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
}
.card:after
{
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    right: 10px;
    left: auto;
}

.container-chat .right {
    position: relative;
    float: left;
    width: 60%;
    height: 94%;
    border-right: 1px solid #ffebbd;
    border-top: 1px solid #e2810e;
    border-bottom: 1px solid #ffebbd;
    border-left: 1px solid #ffebbd;
    background-color: #ffffff;
}
.container-chat .right .top {
    width: 100%;
    height: 47px;
    padding: 15px 29px;
    background-color: #f7f5f3;
    border: 1px solid #faffbd;
    border-left: none;
    border-bottom: none;
}
.container-chat .right .top span {
    font-size: 16px;
    color: #1a1a1a;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.container-chat .right .top span .name {
    color: #7f7575;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
.container-chat .right .chat {
    position: relative;
    display: none;
    overflow: hidden;
    padding: 10px 35px 92px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #ffebbd;
    height: -moz-calc(100% - 48px);
    height: -webkit-calc(100% - 48px);
    height: -o-calc(100% - 48px);
    height: calc(100% - 48px);
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.container-chat .right .chat.active-chat {
    display: block;
}
.container-chat .right .chat.active-chat .bubble {
    -moz-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
    -o-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
    transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}
.container-chat .right .chat.active-chat .bubble:nth-of-type(1) {
    -moz-animation-duration: 0.15s;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
}
.container-chat .right .chat.active-chat .bubble:nth-of-type(2) {
    -moz-animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.container-chat .right .chat.active-chat .bubble:nth-of-type(3) {
    -moz-animation-duration: 0.45s;
    -webkit-animation-duration: 0.45s;
    animation-duration: 0.45s;
}
.container-chat .right .chat.active-chat .bubble:nth-of-type(4) {
    -moz-animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
.container-chat .right .chat.active-chat .bubble:nth-of-type(5) {
    -moz-animation-duration: 0.75s;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
}
.container-chat .right .chat.active-chat .bubble:nth-of-type(6) {
    -moz-animation-duration: 0.9s;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}
.container-chat .right .chat.active-chat .bubble:nth-of-type(7) {
    -moz-animation-duration: 1.05s;
    -webkit-animation-duration: 1.05s;
    animation-duration: 1.05s;
}
.container-chat .right .chat.active-chat .bubble:nth-of-type(8) {
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}
.container-chat .right .chat.active-chat .bubble:nth-of-type(9) {
    -moz-animation-duration: 1.35s;
    -webkit-animation-duration: 1.35s;
    animation-duration: 1.35s;
}
.container-chat .right .chat.active-chat .bubble:nth-of-type(10) {
    -moz-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
.container-chat .right .write {
    position: absolute;
    bottom: 7px;
    left: 10px;
    height: 42px;
    padding-left: 8px;
    border: 1px solid #ffdf95;
    background-color: #ffebbd;
    width: -moz-calc(100% - 58px);
    width: -webkit-calc(100% -  17px);
    width: -o-calc(100% - 17px);
    width: calc(100% - 17px);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.container-chat .right .write input {
    font-size: 16px;
    float: left;
    width: 90%;
    height: 40px;
    padding: 0 10px;
    color: #1a1a1a;
    border: 0;
    outline: none;
    background-color: #ffebbd;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.container-chat .right .write .write-link.attach:before {
    display: inline-block;
    float: left;
    width: 20px;
    height: 42px;
    content: '';
    background-image: url("img/attachment.png");
    background-repeat: no-repeat;
    background-position: center;
}
.container-chat .right .write .write-link.smiley:before {
    display: inline-block;
    float: left;
    width: 20px;
    height: 42px;
    content: '';
    background-image: url("http://s14.postimg.org/q2ug83h7h/smiley.png");
    background-repeat: no-repeat;
    background-position: center;
}
.container-chat .right .write .write-link.send:before {
    display: inline-block;
    width: 20px;
    height: 42px;
    margin-right: 10px;
    content: '';
    background-image: url('img/send.png');
    background-repeat: no-repeat;
    background-position: center;
}
.container-chat .right .bubble {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 14px;
    vertical-align: top;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.container-chat .right .bubble:before {
    position: absolute;
    top: 19px;
    display: block;
    width: 8px;
    height: 6px;
    content: '\00a0';
    -moz-transform: rotate(29deg) skew(-35deg);
    -ms-transform: rotate(29deg) skew(-35deg);
    -webkit-transform: rotate(29deg) skew(-35deg);
    transform: rotate(29deg) skew(-35deg);
}
.container-chat .right .bubble.you {
    float: left;
    color: #fff;
    background-color: #f28c12;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -moz-animation-name: slideFromLeft;
    -webkit-animation-name: slideFromLeft;
    animation-name: slideFromLeft;
}
.container-chat .right .bubble.you:before {
    left: -3px;
    background-color: #f28c12;
}
.container-chat .right .bubble.you-file {
    float: left;
    color: #fff;
    background-color: #c5e6f9;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -moz-animation-name: slideFromLeft;
    -webkit-animation-name: slideFromLeft;
    animation-name: slideFromLeft;
}
.container-chat .right .bubble.you-file:before {
    left: -3px;
    background-color: #c5e6f9;
}
.container-chat .right .bubble.me {
    float: right;
    color: #1a1a1a;
    background-color: #ffebbd;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    -moz-animation-name: slideFromRight;
    -webkit-animation-name: slideFromRight;
    animation-name: slideFromRight;
}
.container-chat .right .bubble.me:before {
    right: -3px;
    background-color: #ffebbd;
}
.container-chat .right .conversation-start {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    text-align: center;
}
.container-chat .right .conversation-start span {
    font-size: 14px;
    display: inline-block;
    color: #999;
}
.container-chat .right .conversation-start span:before, .container-chat .right .conversation-start span:after {
    position: absolute;
    top: 10px;
    display: inline-block;
    width: 30%;
    height: 1px;
    content: '';
    background-color: #e6e6e6;
}
.container-chat .right .conversation-start span:before {
    left: 0;
}
.container-chat .right .conversation-start span:after {
    right: 0;
}

@keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    100% {
        margin-left: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}
@-webkit-keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    100% {
        margin-left: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}
@keyframes slideFromRight {
    0% {
        margin-right: -200px;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    100% {
        margin-right: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}
@-webkit-keyframes slideFromRight {
    0% {
        margin-right: -200px;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    100% {
        margin-right: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}
.credits {
    color: white;
    font-size: 11px;
    position: absolute;
    bottom: 10px;
    right: 15px;
}
.credits a {
    color: white;
    text-decoration: none;
}
.online {
    color: #10c510;
    padding-top: 30px;
    padding-left: 30px;
    position: absolute;
}

.offline {
    color: #ef5f5f;
    padding-top: 30px;
    padding-left: 30px;
    position: absolute;
}

.me {
    color: blue;
    padding-top: 30px;
    padding-left: 30px;
    position: absolute;
}
.status {
    font-size: 11px;
}

.scroll-left
{
    max-height: 91%;
    overflow-y: auto!important;
    overflow-x: hidden!important;
}
.scroll-right
{
    max-height: 85%;
    overflow-y: auto!important;
    overflow-x: hidden!important;
}

.chat-scroll{
    max-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

.statusIcon{
    font-size: 10px;
    color: #565252;
    margin-left: 5px;
    padding-top: 0;
}

.green-color{
    color: #62bd62;
}

.blue-color{
    color: #44abff;
}

.welcome{
    text-align: center;
    padding-top: 41%;
    font-size: 21px;
    color: #776767;
}

.left-title{
    float: left;
    width: 100%;
    height: 42px;
    color: #00368b;
    font-size: large;
    padding: 10px 15px;
    background-color: #edf8ff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.msg-date{
    padding-top: 8px;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
}

.msg{
    font-size: 13.6px;
    font-family:'Open Sans', sans-serif;
}
.header {
    padding: 15px 15px;
    background-color: #f28c12;
    color: white;
}
.login{
    background-image: url("/assets/css/img/background.png");
}